[Unit]
Description=Discord Bot Service for ToonSnapshotBot
After=network.target
[Service]
ExecStart=/usr/bin/python3 ./SnapshotRenderDiscordBot.py
WorkingDirectory=/root/discord_bots/toon_render/toontown/modtools/extensions/toon_snapshot/
Restart=yes
User=root
[Install]
WantedBy=multi-user.target