[Unit]
Description=Backend Render Service for ToonSnapshotBot
After=network.target
[Service]
ExecStart=/usr/bin/python3 -m modtools.extensions.toon_snapshot.SnapshotRenderServer
WorkingDirectory=/root/discord_bots/toon_render/toontown/
Restart=yes
User=root
[Install]
WantedBy=multi-user.target